---
import Text from "@components/react/Typography";


---

<div class="mt-8 w-full">
    <div class="w-full flex gap-x-3 gap-y-4 items-center flex-wrap">
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            Passionate about Web Technologies using
        </Text>
        <span class="flex items-center">
            <img alt="Icon - Portfolio" src="/images/nextjs.svg" />
        </span>
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            for Frontend and 
        </Text> 
        <span class="flex items-center">
            <img alt="Icon - Portfolio" src="/images/nestjs.svg" />
        </span>
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            for Backend.
        </Text> 
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            I have an interest in Blockchain Development
        </Text> 
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            and want to implement
        </Text> 
        <span class="bg-gray-400 py-2 px-4 border border-gray-300 shadow-inner rounded-full">
            <Text weight="font-semibold" Type="span" size="text-xl" className="bg-clip-text text-transparent bg-gradient-to-r from-[#FDDBD1F2] to-[#FDDDFF]">
                Web 3.0
            </Text>        
        </span> 
        <Text weight="font-medium" Type="p" size="h3" color="text-gray-100">
            in the future.
        </Text> 
    </div>
</div>
