---
import Text from "@components/react/Typography"
---

<div class="mt-32 w-full">
    <Text weight="font-medium" Type="h1" size="text-h1 md:text-d3 xl:text-[68px]" className="w-full flex gap-x-6 flex-row items-center flex-wrap whitespace-nowrap">
        Hi, Im
        <span class="bg-secondary/50 py-2 px-14 shadow-inner rounded-full">
            <img alt="Icon - Portofolio" src="/icons/eyes.svg" />
        </span> 
        <span>
            Bagas Meganata
        </span>
        <span class="flex flex-row items-center gap-x-10">
            a Frontend
            <button class="open">
                <img alt="Icon - Portofolio" class="w-20" src="/images/not-open.svg" />
            </button> 
            Developer
        </span>
        <span class="flex flex-row gap-x-12 lg:gap-x-[60px]">
                at
            <img alt="Icon - Portofolio" src="/images/cashplus.svg" />
                based on
            <div class="flex flex-row items-center gap-x-4">
                <span>
                    <img alt="Icon - Portofolio" src="/images/maps.svg" />
                </span> 
                <div class="flex flex-col gap-2">
                    <Text weight="font-medium" Type="span" size="text-xl">
                        Malang
                    </Text>
                    <Text weight="font-medium" Type="span" size="text-xl" color="text-gray-200">
                        Indonesia
                    </Text>
                </div>
            </div>
        </span> 
    </Text>
</div>

<script>
    const button = document.querySelector('.open');
    const image = button?.querySelector('img');

    if (button && image) {
        const originalSrc = '/images/not-open.svg';
        const newSrc = '/images/open.svg';

        button.addEventListener('click', () => {
            image.src = image.src.includes(originalSrc) ? newSrc : originalSrc;
        });
    }
</script>