---
import Text from "@components/react/Typography"
---

<div class="mt-32 w-full">
    <h1 class="w-full flex gap-4 sm:gap-6 flex-row h2 sm:h1 xl:text-[68px] text-white items-center xl:justify-start 2xl:justify-center justify-center flex-wrap whitespace-nowrap">
        Hi, Im
        <span class="bg-secondary/50 py-1 md:py-2 px-7 xl:px-14 shadow-inner rounded-full">
            <img alt="Icon - Portofolio" class="w-10" src="/icons/eyes.svg" />
        </span> 
        <span>
            Bagas Meganata
        </span>
        <span class="flex sm:flex-row items-center w-full xl:justify-start 2xl:justify-center justify-center sm:gap-x-4">
            a Frontend
            <button class="open">
                <img alt="Icon - Portofolio" class="w-12 sm:w-20" src="/images/not-open.svg" />
            </button> 
            Developer
        </span>
        <span class="flex flex-col sm:flex-row w-full sm:items-center gap-x-5 xl:justify-start 2xl:justify-center justify-center">
            <span class="flex flex-row justify-center sm:justify-start gap-x-4 xl:gap-x-10">
                at
                    <img alt="Icon - Portofolio" class="w-20 sm:w-28" src="/images/cashplus.svg" />
                based on
            </span>
            <span class="flex flex-row sm:mt-0 mt-4 justify-center items-center gap-x-2">
                <span>
                    <img alt="Icon - Portofolio" class="w-10 sm:w-16" src="/images/maps.svg" />
                </span> 
                <span class="flex flex-col lg:gap-2">
                    <Text weight="font-medium" Type="span" size="text-lg md:text-xl">
                        Malang
                    </Text>
                    <Text weight="font-medium" Type="span" size="text-lg md:text-xl" color="text-gray-200">
                        Indonesia
                    </Text>
                </span>
            </span>
        </span> 
    </h1>
</div>

<script>
    const button = document.querySelector('.open');
    const image = button?.querySelector('img');

    if (button && image) {
        const originalSrc = '/images/not-open.svg';
        const newSrc = '/images/open.svg';

        button.addEventListener('click', () => {
            image.src = image.src.includes(originalSrc) ? newSrc : originalSrc;
        });
    }
</script>