.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    text-decoration: underline;
    color: #F4F4F4;
}

.link:hover {
    background-color: #FABFFF;
    padding: 2px 4px 2px 4px;
    color: #000;
    border-radius: 5px;
}

.numbered {
    list-style: decimal;
    margin-left: 36px;
}

.list {
    list-style-type: disc;
    margin-left: 36px;
}

.thecard:hover {
    transform: rotateY(180deg);
    pointer-events: auto;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    perspective: 1000px;
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 5;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}