---
import Text from "@components/react/Typography";
import AllignmentLayout from "@layouts/AlignmentLayout";
import Layout from "@layouts/Layout.astro";
import ShowcaseProject from "@sections/projects/ShowcaseProject.astro";
---

<Layout title="Blogs">
    <AllignmentLayout>
        <div class="mt-36 w-full">
            <Text size="h2" Type="h2" weight="font-medium">
                Blogs
            </Text> 
            <Text size="p2" weight="font-medium" Type="p" className="mt-4">
                Rreferences, and tutorials on web development and more            
            </Text>   
        </div>
    </AllignmentLayout>
</Layout>