---
import "@fontsource/urbanist";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={`font-urbanist bg-base bg-[url('/images/dot-bg.svg')] bg-no-repeat`}>
    <div class="flex absolute w-full -mt-96 justify-between gap-10 -z-50">
        <div class="w-[200px] h-[200px] blur-[150px] rounded-full bg-pink-100" />
        <div class="w-[200px] h-[200px] blur-[150px] rounded-full bg-pink-200" />
        <div class="w-[200px] h-[200px] blur-[150px] rounded-full bg-pink-100" />
        <div class="w-[200px] h-[200px] blur-[150px] rounded-full bg-pink-100" />
        <div class="w-[200px] h-[200px] blur-[150px] rounded-full bg-pink-100" />
    </div>
    <div class="z-20 mb-10">
        <slot />
    </div>
<body/>
</html>
