---
import Text from "../Typography";
import Links from "../Links"
const { pathname } = Astro.url
import { getNowPlaying } from '../../../api/spotify'; // Pastikan path ini sesuai dengan lokasi file
import { BiEqualizer, BiSolidSad } from "react-icons/bi";

const data = await getNowPlaying();

---

    <nav class="mt-8 top-0 bottom-auto w-full inset-x-0">
        <div class="bg-secondary/50 rounded-full py-4 px-5 z-50 shadow-inner border border-white/10">
            <div class="flex flex-row w-full justify-between">
                <div class="flex items-center w-full flex-row gap-2">
                    {
                        data?.item !== undefined ?
                        <>
                            <BiEqualizer className="text-pink-200 animate-pulse text-2xl" />
                            <Text weight="font-medium" className="line-clamp-1" Type="h3" size="p3" color="text-gray-100">
                                {data?.item.name} - {data?.item.album.artists[0].name}
                            </Text> 
                        </>
                        :
                        <>
                            <BiSolidSad className="text-pink-200 animate-pulse text-2xl" />
                            <Text weight="font-medium" Type="h3" size="p3" color="text-gray-100">
                                {`Not heard any song :(`}
                            </Text> 
                        </>
                    }
                </div>
                <ul class="flex flex-row w-full justify-end text-white gap-3 xl:gap-6">
                    <li>
                        <Links variant="clear" href="/" className={pathname === '/' ? 'py-2 px-3 bg-white/15 rounded-3xl' : ''}>
                            Home
                        </Links>             
                    </li>
                    <li>
                        <Links variant="clear" href="/projects" className={pathname === '/projects' ? 'py-2 px-3 bg-white/15 rounded-3xl' : ''}>
                            Projects
                        </Links>              
                    </li>
                    <li>
                        <Links variant="clear" href="/blogs" className={pathname === '/blogs' ? 'py-2 px-3 bg-white/15 rounded-3xl' : ''}>
                            Blogs
                        </Links>            
                    </li>
                    <li>
                        <Links variant="primary" className="text-base shadow-buttonPink" href="https://www.linkedin.com/in/natabagass/">
                            Let's work together
                        </Links>
                    </li>
                </ul>
            </div>
        </div>
</nav>